{% extends 'base.html' %}

{% load static %}

{% block title %}Anasayfa | Onur Kaan{% endblock %}

{% block body %}


<section class="politikalar-genel">
    <p class="politika-yazisi">
    <h3>Çerez Politikası</h3>
    <p>
        Not: Çerezler, Gizlilik Politikası'nın bir parçasıdır.
    </p>

    <br>
    <h4>
        Çerez Nedir ?
    </h4>
    <p>
        Ziyaret ettiğiniz web siteleri, bilgisayarınıza veya telefonunuza küçük bilgiler
        kaydedip, daha sonra aynı siteyi ziyaret ettiğinizde bu bilgileri okuyabilirler. Bu küçük bilgilerin
        kaydedildiği dosyalara çerez veya
        tanımlama bilgisi (İngilizcesi: cookie) denir. Çerezler genellikle internette gezinti deneyiminizi
        iyileştirmeye ve siteleri kişiselleştirmeye yarar. Örneğin bir siteye giriş yaparken “beni hatırla”
        seçeneğini işaretlerseniz o site, kullanıcı adınızı (veya özel bir kimlik numarasını) içeren bir çerezi
        tarayıcınıza kaydeder. Çerezleri yalnızca onları oluşturan site okuyabilir. Çerezin ne kadar süreyle
        saklanacağını da site belirler.
    </p>

    <br>
    <h4>Çerez Türleri</h4>
    <p>
        Ana kullanım amacı kullanıcılara kolaylık sağlamak olan çerezler, temel olarak 4 ana
        grupta toplanmaktadır:

    <p>
        Oturum Çerezleri: İnternet sayfaları arasında bilgi taşınması ve kullanıcı tarafından girilen bilgilerin
        sistemsel olarak hatırlanması gibi çeşitli özelliklerden faydalanmaya olanak sağlayan çerezlerdir ve
        internet sitesine ait fonksiyonların düzgün bir şekilde işleyebilmesi için gereklidir.
    </p>
    <p>
        Performans Çerezleri: Sayfaların ziyaret edilme frekansı, olası hata iletileri, kullanıcıların ilgili
        sayfada harcadıkları toplam zaman ile birlikte siteyi kullanım şekilleri konularında bilgi toplayan
        çerezlerdir ve internet sitesinin performansını arttırma amacıyla kullanılmaktadır.
    </p>

    <p>
        Fonksiyonel Çerezler: Kullanıcıya kolaylık sağlanması amacıyla önceden seçili olan seçeneklerin
        hatırlatılmasını sağlayan çerezlerdir ve internet sitesi kapsamında kullanıcılara gelişmiş internet
        özellikleri sağlanmasını hedeflemektedir.
    </p>

    <p>
        Reklam ve Üçüncü Taraf Çerezleri: Üçüncü parti tedarikçilere ait çerezlerdir ve internet sitesindeki bazı
        fonksiyonların kullanımına ve reklam takibinin yapılmasına (uygun reklam gösterilmesine) olanak
        sağlamaktadır.
    </p>
    <br>
    <h4>Çerez Kullanımı</h4>
    <p>
        İnternet sitemizden en verimli şekilde faydalanabilmeniz ve kullanıcı deneyiminizi
        geliştirebilmek için
        Cookie kullanıyoruz. Web sitemize giriş yaptığınız zaman, sizlere, Cookie kullanımı hakkında bilgi verilir.
        Eğer Cookie kullanılmasını tercih etmezseniz tarayıcınızın ayarlarından Cookie’leri her zaman silebilir ya
        da engelleyebilirsiniz. Ancak bunun internet sitemizi kullanımınızı etkileyebileceğini hatırlatmak isteriz.
        Tarayıcınızdan Cookie ayarlarınızı değiştirmediğiniz sürece bu sitede Cookie'ler kullanılmaya devam
        edecektir. Cookie'lerin hangi amaçla kullanıldığı ve ne kadar süre depolandığı aşağıda belirtilmektedir.
        Sitemizde yer alan servislerin kullanımı için bizimle doğrudan veya dolaylı olarak bazı bilgi ve veriler
        paylaşmaktasınız. Bu bilgiler kullanımınız (iletişim formunu kullanırken, yorum yaparken vb.) esnasında
        topladığımız bilgilerdir (IP, cihaz, konum ve tarayıcı bilgileri, gezinti ve etkileşim içeriği, tarih ve
        bağlantı süresi gibi veriler). Bilgi ve verilerinizi saklama konusunda azami özeni göstermekteyiz. Web
        sitemizde depolanan Cookie verilerinizi 3. parti kişiler ile paylaşılmamaktadır.
    </p>

    <br>
    <h4>Çerezlerin Kullanım Alanları</h4>

    <p>
        Reklam amaçlı kullanımlar: okgtekno.ml, kendine veya üçüncü taraflara ait
        sistemlerin üzerinden
        kullanıcıların ilgi alanları kapsamında reklam ve benzeri içeriklerin iletilmesi amacıyla, bu reklamların
        etkinliğini ölçen veya tıklanma durumunu analiz eden çerezler kullanabilmektedir.
    </p>
    <p>
        NOT: Sitede bulunan 3. taraf kişilerin gönderdiği linklerden (örneğin yorumlardan
        gelen linkler) gelebilecek
        zararlar okgtekno.ml'nin sorumluluğunda değildir.
    </p>
    </p>

    <br>
    <h4>Çerezleri Yönetme</h4>
    <p>
        Çerezlerin kullanımına ilişkin tercihlerinizi değiştirmek ya da çerezleri engellemek
        veya silmek için
        tarayıcınızın ayarlarını değiştirmeniz yeterlidir. Birçok tarayıcı çerezleri kontrol edebilmeniz için size
        çerezleri kabul etme veya reddetme, yalnızca belirli türdeki çerezleri kabul etme ya da bir web sitesi
        cihazınıza çerez depolamayı talep ettiğinde tarayıcı tarafından uyarılma seçeneği sunar. Aynı zamanda daha
        önce tarayıcınıza kaydedilmiş çerezlerin silinmesi de mümkündür. Çerezleri kontrol edilmesine veya
        silinmesine ilişkin işlemler kullandığınız tarayıcıya göre değişebilmektedir.
    </p>

    <br>



    <br>
    <h4>Web sitemizde aşağıda yer alan çerezler kullanmaktadır:</h4>
    <p>

    </p>
    <p>
        Google Analytics
    </p>
    <p>
        Google Analytics, çerezleri ziyaretçilerin Web Sitesini nasıl kullandıklarını analiz
        etmek amacıyla
        kullanır. Bu Web Sitesini kullanımınızla ilgili bilgiler (IP adresiniz dahil) Google'a aktarılarak Google
        tarafından ABD'deki sunucularda saklanmaktadır. Google bu bilgileri Web Sitesini kullanımınızı
        değerlendirmek, Web Sitesi faaliyetini derlemek ve Web Sitesi faaliyeti ve internet kullanımıyla
        ilgili başka hizmetler sağlamak amacıyla kullanacaktır, fakat IP adresinizi Google tarafından depolanan
        diğer verilerle eşleştirmeyecektir. Google Analytics kullanımı hakkında daha fazla bilgi için, şu adresi
        ziyaret edebilirsiniz: <a href="https://policies.google.com/privacy?hl=tr" target="_blank">Google
            Privacy</a>.
    </p>


    <br>
    <p>
        Google Ads
    </p>

    <p>
        Google Ads, çerezleri, güvenli arama tercihlerinizi hatırlamak, size daha alakalı
        reklamlar göstermek, bir
        sayfaya kaç ziyaretçi geldiğini belirlemek, hizmetlerimize kaydolmanıza yardımcı olmak, verilerinizi korumak
        veya reklam ayarlarınızı hatırlamak için kullanır. Bu, web sitesinin ziyaretinizle ilgili bilgileri
        (örneğin, tercih ettiğiniz dil ve diğer ayarlar) hatırlamasına yardımcı olur. Bu Web Sitesini kullanımınızla
        ilgili bilgiler (IP adresiniz dahil) Google'a aktarılarak Google tarafından ABD'deki sunucularda
        saklanmaktadır. Google bu bilgileri Web Sitesini kullanımınızı değerlendirmek, Web Sitesi
        faaliyetini derlemek ve Web Sitesi faaliyeti ve internet kullanımıyla ilgili başka hizmetler sağlamak
        amacıyla kullanacaktır, fakat IP adresinizi Google tarafından depolanan diğer verilerle eşleştirmeyecektir.
        Google Ads çerez kullanımı hakkında daha fazla bilgi için, şu adresi ziyaret
        edebilirsiniz: <a href="https://policies.google.com/privacy?hl=tr" target="_blank">Google Privacy</a>.
    </p>

    <br>
    <p>Not: okgtekno.ml'de şuanlık Google Analytics çerezi kullanılmaktadır. İlerleyen zamanlarda Google Ads de kullanılmaya başlanacaktır.</p>
    <p>
        Bu 'Çerez Politikası'nın en son güncellendiği tarih: 04/07/2021
    </p>
    </p>
</section>


{% endblock %}