{% extends 'base.html' %}

{% load static %}

{% block title %}Gizlilik Politikası | Onur Kaan{% endblock %}

{% block body %}
<section class="politikalar-genel">
    <p class="politika-yazisi">
    <h3>Gizlilik Poitikası</h3>
    <br>
    <p>
        okgtekno.ml, çeşitli amaçlarla kişisel veriler toplayabilir. Aşağıda, toplanan
        kişisel
        verilerin nasıl ve ne
        şekilde toplandığı, bu verilerin nasıl ve ne şekilde korunduğu belirtilmiştir.
    </p>
    <p>
        okgtekno.ml üzerindeki çeşitli form ve anketlerin doldurulması veya bir yazıya yotum yapılması suretiyle
        üyelerin kendileriyle
        ilgili birtakım kişisel bilgileri (isim-soy isim, e-posta adresleri, IP bilgisi gibi) okgtekno.ml tarafından işin doğası
        gereği toplanmaktadır.
    </p>
    <p>
        okgtekno.ml, kişisel bilgilerinizi pazarlama yapmak amacıyla kullanmamaktadır.
        Kişisel bilgiler, gerektiğinde kullanıcıyla temas kurmak için de kullanılabilir. okgtekno.ml tarafından
        talep
        edilen bilgiler veya kullanıcı tarafından sağlanan bilgiler; okgtekno.ml ve işbirliği içinde olduğu kişiler
        tarafından, üyelerimizin kimliği ifşa edilmeden çeşitli istatistiksel değerlendirmeler, veri
        tabanı oluşturma vb. konularda kullanılabilir.
    </p>

    <p>
        okgtekno.ml, gizli bilgileri kesinlikle özel ve gizli tutmayı, bunu bir sır
        saklamaktadır.
        Gizliliğin sağlanması ve sürdürülmesi, gizli bilginin tamamının veya herhangi bir
        kısmının yetkisiz kullanımını veya üçüncü bir kişiye ifşasını önlemek için gerekli tüm tedbirleri
        almaya özen göstermektedir. Bilgileriniz istinai haller dışında hiç bir şahısla veya şirketle
        paylaşılmamaktadır ve paylaşılmayacaktır.
    </p>

    <br>
    <h4>Üçüncü Taraf Web Siteleri Ve Uygulamaları</h4>

    <p>
        okgtekno.ml, web sitesi dâhilinde başka sitelere link verebilir. okgtekno.ml, bu
        linkler vasıtasıyla erişilen
        sitelerin gizlilik uygulamaları ve içeriklerine yönelik herhangi bir sorumluluk taşımamaktadır.
        okgtekno.ml'ye
        ait sitede yayınlanan reklamlar, reklamcılık yapan iş ortaklarımız aracılığı ile kullanıcılarımıza
        dağıtılır. Bu sözleşmedeki Gizlilik Politikası Prensipleri, sadece okgtekno.ml'nin kullanımına
        ilişkindir,
        üçüncü taraf web sitelerini kapsamaz.
    </p>

    <br>
    <h4>İstinai Haller</h4>

    <p>
        Aşağıda belirtilen sınırlı hallerde, "Gizlilik Politikası" hükümleri
        dışında kullanıcılara ait
        bilgileri üçüncü kişilere açıklayabilir. Bu durumlar sınırlı sayıda olmak üzere;
    </p>
    <p>
        1.Kanun, Kanun Hükmünde Kararname, Yönetmelik v.b. yetkili hukuki otorite tarafından çıkarılan ve
        yürürlülükte olan hukuk kurallarının getirdiği zorunluluklara uymak;
    </p>

    <p>
        2.Yetkili idari ve adli otorite tarafından usulüne göre yürütülen bir araştırma veya soruşturmanın yürütümü
        amacıyla kullanıcılarla ilgili bilgi talep edilmesi;
    </p>

    <p>
        Kullanıcıların hakları veya güvenliklerini korumak için bilgi vermenin gerekli olduğu hallerdir.
    </p>

    <br>
    <h4>E-posta Güvenliği</h4>
    <p>
        Bizlerle iletişime geçmek için kullandığınız ve bize verdiğiniz e-posta adresleri 3. taraf kişilerle
        paylaşılmamaktadır ve paylaşılmayacaktır.
    </p>

    <br>
    <br>
    <p>
        Not: <a href="/cerez-politikasi">Çerez Politikası</a>, Gizlilik Politikası'nın bir parçasıdır.
    </p>

    </p>
</section>


{% endblock %}