{% extends 'base.html' %}

{% load static %}

{% block title %}Hakkımda | Onur Kaan{% endblock %}

{% block body %}


<style>

h1{
    margin: 50px;
    margin-top: 10%;
}

</style>

<h1>Ben Onur Kaan. 12 yaşındayım. Arduino, HTML, CSS, JavaScript ve Python'un bir kütüphanesi olan Django
    üzerinde uğraşıyorum.Vakit buldukça diğer yazılım dilerini öğrenmeye çalışıyorum. Youtube kanalım üzerinde içerikler
    üretiyorum ve kendi projelerimi geliştiriyorum.</h1>


{% endblock %}